/* Global Styles */
body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container Layout */
.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-areas:
        "nav nav"
        "content1 content2"
        "content3 content4";
    grid-gap: 0.5rem;
}

.container_unterseiten {
    width: 80%; /* Increase width to ensure navbar fits */
    margin: 0 auto;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "nav"
        "content5";
    grid-gap: 0.4rem;
}

/* Navbar Styles */
nav {
    grid-area: nav;
    text-align: center;
    font-size: 14pt;
}

.navbar {
    font-size: 13pt; /* Reduce font size slightly */
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
}
.navbar li {
    margin: 0 10px; /* Space between items */
}

.navbar a {
    text-decoration: none;
    font-size: 12pt;
    padding: 8px 16px;
    color: black;
    display: block;
    text-align: center;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #ababab;
}

/* Hover Underline Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Image Styles */
img {
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    width: 430px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Subpage Container Layout */
.container_unterseiten {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "nav"
        "content5";
    grid-gap: 0.4rem;
}

/* Content Styles */
#content1, #content3, #content4, #content5 {
    padding: 10px;
    border-radius: 8px;
}

#content2 {
    padding: 20px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 8px;
    margin: 0;
}

#content3 {
    text-align: center;
    margin-top: 37px;
    margin-bottom:37px;
}

h1, h2 {
    text-align: center;
    font-weight: 400;
}

h1 {
    font-size: 22pt;
}

h2 {
    font-size: 16pt;
}

p {
    font-size: 14pt;
    color: #555;
}

/* Button Styles */
a.button {
    background-color: #42a5f5;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #007bff;
}



/* Styles for devices with a max-width of 480px (small smartphones) */
@media (max-width: 480px) {
    body {
        font-size: 10pt;
    }

    h1 {
        font-size: 18pt;
    }

    h2 {
        font-size: 14pt;
    }

    p {
        font-size: 12pt;
    }

    nav {
        font-size: 10pt;
    }

    .navbar a {
        padding: 6px 12px;
        font-size: 11pt;
    }
    .container, .container_unterseiten {
        width: 95%;
    }
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "nav"
            "content1"
            "content2"
            "content3"
            "content4";
    }
    .container, .container_unterseiten {
        width: 90%;
    }

    img {
        width: 100%;
        height: auto;
    }

    nav {
        font-size: 12pt;
    }

    .navbar {
        flex-direction: column;
        font-size: 11pt;
    }

    .navbar li {
        margin: 5px 0;
    }

    #content2, #content3 {
        margin-top: 20px;
    }

}
